@*example*@
@page "/"
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PieChart
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Util
@using BlazorApp.Data
@inject TestDataRetrieval DataRetrieval

<head>
 <style type ="text/css" >
   .footer{ 
       position: fixed;     
       text-align: left;    
       bottom: 0px; 
       width: 80%;
   }
   .piechart{
       position: fixed;
       bottom: 200;
       right: 800;
   }
   .barchart{
       position: fixed;
       margin-left: 0px;
       margin-top: 380px;
   }
   .table{
       position: fixed;
       margin-top:0px;
       margin-left: 950px;
       width: 625px; 
   }
   
</style>
</head>
<h1>DashBoard Home</h1>
<body>
    <div class ="piechart"> <ChartJsPieChart @ref="_pieChartJs" Config="@_config" Width="350" Height="340"/> </div> 
    <div class ="barchart"> <ChartJsBarChart @ref="_barChartJs" Config="@barconfig" Width="600" Height="410" /> </div>
@if (testdata == null){
    <p><em>Loading...</em></p>
}
else{
    <table class="table">
        <thead>
            <tr>
                <th>Last Assembly</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in testdata)
            {
                <tr>
                    <td>AssemblyId</td>
                    <td>@data.AssemblyId</td>
                </tr>
                <tr>
                    <td>TestId</td>
                    <td>@data.TestId</td>
                </tr>
                <tr>
                    <td>Test Time</td>
                    <td>@data.TestTime</td>
                </tr>
                <tr>
                    <td>Tester Name</td>
                    <td>@data.Tester</td>
                </tr>
                <tr>
                    <td>Test Passed or Failed</td>
                    <td>@data.TestStatus</td>
                </tr>
                <tr>
                    <td>Failed Image Location</td>
                    <td>@data.ImageLocation</td>
                </tr>
            }
        </tbody>
    </table>
}
    <div class="footer"><SurveyPrompt Title="How is Blazor working for you?" /></div>
</body>

@code{

#region 
private TestData[] testdata;
private PieConfig _config;
private ChartJsPieChart _pieChartJs;
private PieDataset pieSet;
private BarConfig barconfig;
private ChartJsBarChart _barChartJs;
private BarDataset<BarData> barSet;
#endregion

protected override void OnInitialized(){

    #region 
    _config = new PieConfig{
        Options = new PieOptions{
            MaintainAspectRatio = false,
            
            Title = new OptionsTitle{
                Display = true,
                Text = "Last Assembly Results"
            },
            Responsive = true, 
             Animation = new ArcAnimation{
                AnimateRotate = true,
                AnimateScale = true
            } 
        }
    };
    _config.Data.Labels.AddRange(new[] { "Passed", "Failed"  });

    pieSet = new PieDataset{
        BackgroundColor = new[] {"#9dffb0", "#fb4d4f"},
        BorderWidth = 0,
        HoverBorderColor = "#323232",
        HoverBorderWidth = 1,
        BorderColor = "#ffffff",
    };
    #endregion

    #region 
    barconfig = new BarConfig{
        Options = new BarOptions{
            MaintainAspectRatio = false,
            Scales = new BarScales{

            },
            Title = new OptionsTitle{
                Display = true,
                Text = "Previous Assembly results"
            },
            Responsive = true, 
             Animation = new ArcAnimation{
                AnimateRotate = true,
                AnimateScale = true
            } 
        }
    };

    barSet = new BarDataset<BarData>{
        BackgroundColor = new[] { ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString() },
        BorderWidth = 0,
        HoverBackgroundColor = ColorUtil.RandomColorString(),
        HoverBorderColor = ColorUtil.RandomColorString(),
        HoverBorderWidth = 1,
        BorderColor = "#ffffff",
    };
    #endregion
}
protected override async Task OnInitializedAsync(){
        testdata = await DataRetrieval.GetLastDataAsync(); 

        double numberPassed = 0; 
        foreach(var data in testdata){
            if(data.TestStatus){
                numberPassed++;
            }
    }
    pieSet.Data.AddRange(new double[] { numberPassed, 5 - numberPassed });
    _config.Data.Datasets.Add(pieSet);
    }
}