@page "/previous"

@using BlazorApp.Data
@inject TestDataRetrieval DataRetrieval
<h1>Previous Tests</h1>

@if (testdata == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>test case</th>
                <th>tester name</th>
                <th>test date</th>
                <th>test status</th>
                <th>test id</th>
                <th>image path</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in testdata)
            {
                <tr>
                    <td>@data.TestCaseId</td>
                    <td>@data.CreatedBy</td>
                    <td>@data.CreatedDate</td>
                    <td>@data.TestStatus</td>
                    <td>@data.TestRunId</td>
                    <td>@data.ImagePath</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TestData[] testdata;

    protected override async Task OnInitializedAsync()
    {
        testdata = await DataRetrieval.GetPreviousDataAsync(); 
    }
}